<mat-nav-list dense>
  <mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <div class="nav-caption">
      Signup
    </div>
  </mat-list-item>
  <mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>lock_open</mat-icon>
    <div class="nav-caption">
      Login
    </div>
  </mat-list-item>
  <mat-list-item routerLink="/training" (click)="onClose()">
    <mat-icon>directions_run</mat-icon>
    <div class="nav-caption">
      Training
    </div>
  </mat-list-item>
  <mat-list-item (click)="sidenav.close()">
    <mat-icon>lock</mat-icon>
    <div class="nav-caption">
      Logout
    </div>
  </mat-list-item>
</mat-nav-list>
