<mat-toolbar color="primary" class="mat-elevation-z16">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
  <div class="logo-font">
    <button mat-button routerLink="/">
      <div class="logo-font">Fittness Tracker</div>
    </button>
  </div>
  <span class="app-toolbar-filler"></span>
  <div fxLayout fxHide.xs>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/signup" *ngIf="!isAuth">
        <span>signup</span>
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="!isAuth">
        <span>login</span>
      </button>

      <button mat-menu-item routerLink="/training" *ngIf="isAuth">
        <span>training</span>
      </button>
      <button mat-menu-item (click)="onLogout()" *ngIf="isAuth">
        <span>logout</span>
      </button>
    </mat-menu>
    <button class="primary-grey" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

</mat-toolbar>
