<mat-sidenav-container>
  <mat-sidenav mode="side" role="navigation" #sidenav>
    content
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z16">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <div class="logo-font">
        Fittness Tracker
      </div>
      <span class="app-toolbar-filler"></span>

      <mat-menu #appMenu="matMenu">
          <button mat-menu-item routerLink="/signup">
            <span>signup</span>
          </button>
        <button mat-menu-item routerLink="/login">
          <span>login</span>
        </button>

        <button mat-menu-item routerLink="/training">
          <span>traiging</span>
        </button>
 
      </mat-menu>
      <button class="primary-grey" mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-toolbar>
    <main class="app-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
